<font face="Times New Roman">
Hello ,<br>
<br>
Thank you for submitting Error Report to Earnix.<br>
This is an automated response to your Error Report sent on {{date}}.<br>
Your inquiry is being reviewed by the Earnix Customer Support staff.<br>
Please make sure to include the following reference ID in all e-mail communications 
related to this Error Report: #{{reportID}}.<br>
<br>
Best regards,<br>
Earnix Customer Support Team<br>
<a href=\"mailto:support@earnix.com?Subject=Error%20report%20#{{reportID}}"
 target="_top">support@earnix.com</a></font>